html {
    font-family: Arial, Helvetica, sans-serif;
}

.main_wrapper {
	max-width: 900px;
	margin: auto;
}

table {
	width: 100%;
}

tr, th, td {
    padding: 20px;
}

th {
	background: lightblue;
}

tr:nth-child(even) {
    background: #ccc;
}

tr:nth-child(odd) {
    background: #fff;
}

form {
    padding: 20px;
}

.addbook_btn {
	color: black;
	text-decoration: none;
	background: lightgreen;
	padding: 20px;
	border-radius: 5px;
}

.delete_btn {
	background: red;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
}
.delete_btn a {
	color: black;
	text-decoration: none;
}


.edit_btn {
	background: yellow;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}
.edit_btn a {
	color: black;
	text-decoration: none;
}